.login-all{
    display: flex;
    flex-direction: row;
}

.login-left{
    display: flex;
   
}
.left-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px; 
}


.left-title span:nth-of-type(1) {
    background: linear-gradient(90deg, #290D44 1.82%, #7C27CB 97.86%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: SF UI Text;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left-title span:nth-of-type(2) {
    background: linear-gradient(90deg, #290D44 1.82%, #7C27CB 97.86%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: SF UI Text;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left-title span:nth-of-type(3) {
    color: rgba(30, 30, 30, 0.76);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* .left-img{
    width: 341px;
    height: 459px;
    flex-shrink: 0;
    border-radius: 30px;
    background: url(../images/login-img.png), lightgray 50% / cover no-repeat;
} */



.component {
    height: 480px;
    width: 361px;
  }
  
  .component .overlap-group {
    height: 480px;
    position: relative;
  }
  
  .component .rectangle {
    background: linear-gradient(180deg, rgb(108, 33, 177) 0%, rgb(72, 23, 120) 100%);
    border-radius: 30px;
    height: 331px;
    left: 116px;
    position: absolute;
    top: 189px;
    width: 245px;
  }
  
  .component .image {
    height: 459px;
    left: 0;
    top:40px;
    object-fit: cover;
    position: absolute;
    width: 341px;
    background: url(../../Images/login-img.png);
    border-radius: 30px 30px 30px 30px;
  }


